.App{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    /* ~경계선까지가 박스다~ */
    box-sizing: border-box;
    padding: 20px;
    /* border: 1px solid grey; */
    /* 수평으로 배치 */
    display: flex;
    /* display한거를 수직으로 재배치 */
    flex-direction: column;
    /* 요소 간 간격 지정 */
    gap: 30px;
    margin-top: 5px;
    background-color: white;
}